# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db